#contains tokens/secrets
config.json
#test file that I write junk js code on to port into a command
test.js
#/graph saves images here
img/*
*.sh
*.bat
/node_modules
/node_modules/**
#personal commands
/eventCommands/**
/eventCommands
