#contains tokens/secrets
config.json
#test file that I write junk js code on to port into a command
test.js
img/*
*.sh
*.bat
/node_modules
/node_modules/**
#personal commands
.env
eventCommands/events.ts
eventCommands/helpers.ts